html,body{
    background-color: rgb(25, 31, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 20em;
    width: 30em;
}

#cronometro{
    background-color: rgb(9, 120, 168);
    border-radius: 5em;
    height: 5em;
    width: 14em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size:xx-large;

}

#seconds{
    margin-left: 0.1em;
}
#minutes{
    margin-left: 0.1em;
}
#hours{
    margin-right: 0.1em;
}

.button{
    background-color: rgb(3, 114, 183);
    margin-top: 2vh;
    border-radius: 1em;

    width: 3em;
    height: 3em;

    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: larger;

}

.button:hover{
    background-color: rgb(204, 218, 230);
}

.button:active{
    background-color: rgb(1, 34, 63);
}